//padding & margins
$spacing-xs: 1.2rem;
$spacing-sm: 1.8rem;
$spacing-md: 2.5rem;
$spacing-lg: 3.5rem;
$spacing-xl: 5rem;

//neutral colors
$black: rgb(0, 0, 0);
$grey-dark: rgb(122, 122, 122);

//primary colors
$cyan: rgb(60, 180, 172);
$cyan-dark: rgb(20, 123, 116);

//breakpoints
$bp-desk: 1100px;
$bp-mobile: 400px;
