$bg-image-desk: url(/src/images/image-hero-desktop.jpg);
$bg-image-mobile: url(/src/images/image-hero-mobile.jpg);

.header {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.7) 20%,
      transparent 50%
    ),
    $bg-image-mobile;

  background-size: cover;
  background-position: center;
  height: 300px;
}

@media only screen and (min-width: 750px) {
  .header {
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.7) 20%,
        transparent 50%
      ),
      $bg-image-desk;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
  }
}
